.nav{
    display: flex;
    justify-content: space-between;
}

.nav  * {
    margin: 0px 5px;
    font-size: 12px;
}

.nav-blue{
    color: blue;
}

.main-nav{
    display: flex;
    align-items: center;
}

.logo{
    width: 180px;
    height: 60px;
    object-fit: contain;
}

.by-category{
    display: inline-block;
    width: 100px;
}


.form-group{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    /* height: 50px; */
    /* width: 500px; */
}

.search-icon{
    border: none;
    background-color: white;
    padding: 15px 10px;
    width: 40px;
    cursor: pointer;
}

.searchbar{
    border: none;
    background-color: white;
    padding: 15px 20px;
    width: 700px;
}

.dropdown{
    background-color: white;
    border: none;
    border-left: 1px solid;
    padding: 5px 30px;
}

.search-btn{
    cursor: pointer;
    background-color: blue;
    color: white;
    margin : 0px 5px;
    padding: 15px 60px;
}

.advanced{
    display: inline-block;
    margin:0px 20px ;
}

.separate{
    margin: 10px 0px;
    border: 1px solid rgb(198, 193, 193);
    width: 100%;
}

.banner-text{
    margin:10px 30px ;
    position : absolute;
    top : 150px;
}

.banner-head{
    font-size: 30px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner-body{
    font-size: 20px;
    font-family: monospace;
}

.banner-image{
    width: 100%;
}

.main-body{
    margin: 30px 0px;
    display: flex;
}

.side-bar{
    /* border: 1px solid black; */
    width: 300px;
}

.side-bar  >h3{
    margin : 10px 40px;
}

ul{
    list-style-type: none;
}

.body-section-1{
    width:98%;
    margin-left : 10px;
}

.body-section-2 > img{
    margin-top : 30px ;
    margin-left : 10px;
    width: 32%;
    border-radius: 5px;
}

.customer-font{
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-margin{
    margin-left:25px ;
}

.ebay-input{
    width: 92%;
    border-radius: 30px;
    background-color: rgb(245, 245, 245);
    height: 4vh;
}

.icon-bg{
    background-color: blue;
    width: 40px;
    border-radius: 40px;
    display: inline-block;
}

.icon-color{
    padding: 10px;
    color: white;
}

.cards-container{
    display: flex;
    margin: 20px 30px;
    width: 95%;
}

.signin-card{
    padding : 20px 40px ;
    /* height: 250px; */
    background-color: rgb(135, 205, 238) ;
}

.help-card{
    background-color: rgb(197, 253, 255);
}

.card-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.card-content-head{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card-content-body{
    line-height: 1px;
}

.card-border{
    border-left : 1px solid rgb(207, 204, 204);
}

.articles-bg{
    background-color: rgb(244, 244, 244);
}

.articles-container{
    display: flex;
    flex-wrap: wrap;
}

.article-container{
    background-color: white;
    width: 30%;
    height: 250px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-size{
    font-size: 40px;
}

.bottom-section{
    background-color: rgb(188, 182, 182);
}

.bottom-head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px 10px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-card{
    background-color: white;
    width: 30%;
    padding: 20px;
    margin : auto;
}

.margin-bottom{
    margin:30px 60px ;
}

.bottom-text{
    font-size : 12px;
}

.bottom-item{
    padding: 10px 10px;
}
